# 2026CIE大赛权限控制

# 所有团队提交的作品，必须由以下任一管理员评审（用空格分隔）
/2026-CIE-RISC-V-Contest-Application-Track/01_参赛团队提交区/*  @HisionWang

# 大赛指南和模板，也由指定管理员维护
/2026-CIE-RISC-V-Contest-Application-Track/00_大赛指南与模板/* @HisionWang

# 保护仓库其他核心目录（防止选手误改）
/xiangshan-course/*  @HisionWang
/xiangshan-code/*  @HisionWang
/BOSC-Interview-Questions/*  @HisionWang